.v-center {
	position: relative;
    top: 50%;
    transform: translateY(50%);
}

main {
    margin-top: 120px;
}

.tab-content {
	padding-top: 30px;
}

.card .badge-container {
	margin-bottom: 1rem;
}

.card .badge {
	margin-right: 5px;
}