.v-center {
	position: relative;
    top: 50%;
    transform: translateY(50%);
}

main {
    margin-top: 120px;
}

.tab-content {
	padding-top: 30px;
}

.item {
	margin-bottom: 20px;
    border: 1px solid #eee;
    box-shadow: 1px 2px 2px #eee;
    border-radius: 3px;
    padding: 15px 0;
}

.item img {
	border-radius: 3px;
}

.item .badge-container {
	margin-bottom: 1rem;
}

.item .badge {
	margin-right: 5px;
}

.hide {
	display: none !important;
}